.header__brand {
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header__logo {
  width: auto;
  height: 60px;
}

.header__title {
  font-family: "Kaushan Script", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  width: max-content;
}
