.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "body body"
    "footer footer";
  grid-template-rows: max-content auto max-content;
  position: relative;
}

.content {
  margin-top: 3.75rem;
  grid-area: body;
}
